body {
    margin: 0;
    font-family: Arial, Helvetica, monospace;

}

header {

    margin: 0 auto;
    padding: 10px;
    z-index: 2;
    position: relative;
}

header h1 {
    text-align: center;
}

header h1 img {
    height: 50px;
    margin: 15px;
    vertical-align: middle;
}

section {
    border-radius: 15px;
    max-width: 1024px;
    padding: 20px;
    margin: 20px auto 50px;
    border: 1px solid #bbdddd;
}

article {
    line-height: 25px;
}

code {
    background-color: #efefef;
    padding: 5px;
}

#bigCode {
    padding: 20px;
    font-size: larger;
    border: 1px solid #bbdddd;
}

pre {
    background-color: #efefef;
    padding: 10px;
    border-radius: 5px;
}

article img {
    border: 1px solid #cccccc;
    margin: 15px auto;
    border-radius: 5px;
    display: block;
}

a {
    color: #447777;
}
